.details {
    text-align: center;
  }
  
  .profile-pic {
    height: 6rem;
    width: 6rem;
    object-fit: center;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .location form {
    display: inline-block;
  }
  
  .location svg {
    vertical-align: middle;
  }
  
  .action {
    padding: 3%;
  }
  
  .action .col-4 {
    width: 10rem;
    text-align: center;
  }
  
  .heading {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 1rem 0;
  }

  .card {
    margin: 2%;
    padding: 1%;
  }
