<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Thrifting Forum</title>
    </head>
    <body>
        <header>
            <a href = "/">ThriForum</a>
            <a href = "/explore/">explore</a>
            <a href = "/users/{{logname}}/">{{logname}}</a>
        </header>
        
        <form action="/accounts/" target="/accounts/edit/" method="post" enctype="multipart/form-data">
            <label for="password"> Current password: </label>
            <input type="password" name="password" required/>
            <label for="new_password1"> Enter your new password:</label>
            <input type="password" name="new_password1" required/>
            <label for="new_password2"> Retype your new password:</label>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
          </form>
        <a href="/accounts/edit/">Back to edit account</a>

    </body>
</html>